.olPopup {
    webkit-border-radius:5px;
    moz-border-radius:5px;
}

#popup_contentDiv {
    margin-left:5px;
    font-size:10pt;
}

#popup_contentDiv>ul {
    list-style-type:circle;
    margin:0px; /*reset*/
    margin-left:10px;
}

.olcontrolattribution {
    bottom:5px;
}