{%extends "base.html" %}
  {%block title%}: a dynamic map of the occupation{%endblock title%}
  
    {%block css%}
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/reset.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/base.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/sidebar.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}openlayers/theme/default/style.css" type="text/css" />
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/map.css" type="text/css"/>
    {%endblock css%}

    {%block content%}
      <div id="map"></div>
      
      <div id="right_menu">
        <div class="right_menu_item">
          <a id="toggle">Layers</a>
          <div id="layerswitcher"></div>
        </div>
        <div class="right_menu_item">
          <a id="toggle">Search</a>
          <div class="search_fields">
            <input class="defaultText" type="text" id="searchField" title="Settlement Name" />
            <button type="submit" id="searchButton" >Go</button>
          </div>
        </div>
        <div class="right_menu_item">
          <a id="toggle">Directions</a>
          <div class="search_fields">
            <input class="defaultText" type="text" id="from" title="From" />
            <input class="defaultText" type="text" id="from" title="To" />
            <button type="submit" id="routingButton" title="Route">Go</button
          </div>
        </div>
      </div>
      {% endblock content %}
      
      {% block scripts %}
      <script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.0&appid=3l51ti3V34HzYadwTu4PHZRZbw8tSzyPY715wq9eCe4WILSZybOxwfBI6s_J0HHj98ebkpk4LhzlA4fynQ--"></script>
      <script src='http://maps.google.com/maps?file=api&amp;v={{ googleAPIVersion }}&amp;key={{ googleAPIKey }}' type="text/javascript"></script>
      
      
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/proj4js.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/OpenLayers.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/customLayerSwitcher.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/ToolTips.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/cloudmade.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}map/styles.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}map/map.js"></script>
      {% endblock scripts %}