{%extends "base.html" %}
  {%block title%}: a dynamic map of the occupation{%endblock title%}
  
    {%block css%}
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/reset.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/base.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/sidebar.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}openlayers/theme/default/style.css" type="text/css" />
    <link rel="stylesheet" href="{{MEDIA_URL}}jquery/cluetip/jquery.cluetip.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/map.css" type="text/css"/>
    {%endblock css%}

    {%block content%}
      <div id="map"></div>
      
      <div id="right_menu">
        <div class="right_menu_item">
          <a id="toggle">Layers</a>
          <div id="layerswitcher"></div>
        </div>
        <div class="right_menu_item">
          <a id="toggle">Search</a>
          <div class="search_fields">
            <input class="defaultText" type="text" id="searchField" title="Settlement Name" />
            <button type="submit" id="searchButton" >Go</button><br>
            <a href="/settlement/">List all Settlements</a>
          </div>
        </div>
        <div class="right_menu_item">
          <a id="toggle">Directions</a>
          <div class="search_fields">
            <input class="defaultText" type="text" id="from" title="From" />
            <input class="defaultText" type="text" id="from" title="To" />
            <button type="submit" id="routingButton" title="Route">Go</button
          </div>
        </div>
      </div>
      {% endblock content %}
      
      {% block scripts %}
      <script src='http://maps.google.com/maps?file=api&v=2.x&key=ABQIAAAAT9uyY_WHXEyDYZHQMelCKhQWL7Q2d-EKM_00nP7XOCXIQnceqxSp4N1apl4OuUAIAe7OPscnDmbrQA'></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/OpenLayers.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/customLayerSwitcher.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/cloudmade.js"></script>
      <!-- put jQuery after OpenLayers, to avoid $ collision -->
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}jquery/cluetip/jquery.cluetip.js"></script>
      <!-- finally, create our map -->
      <script type="text/javascript" src="{{MEDIA_URL}}map/styles.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}map/map.js"></script>
      
      <script type"text/javascript">
      $j(document).ready(function() {
          initMap();

          //show and hide the layer panel
          $j('a#toggle').click(function() {
              $j(this).next().toggle('fast');
              return false;
            });

          //get search input and send to callback
          $j("button[type=submit]#searchButton").click(function(){
              var query = $j("input[type=text]#searchField").val();
              if (query==$j(".defaultText")[0].title) {
                  //still default text, do nothing
                  //TODO: this won't work if there's more than one of this class on the page
                  return false;
              } else {
                  $j.ajax({url:'/settlement/search/'+query,
                          success:showSearchMarkers});
              }
          });

          //search input box focus handler
          $j(".defaultText").focus(function(srcc)
          {
              if ($j(this).val() == $j(this)[0].title)
              {
                  $j(this).removeClass("defaultTextActive");
                  $j(this).val("");
              }
          });
          $j(".defaultText").blur(function()
          {
              if ($j(this).val() == "")
              {
                  $j(this).addClass("defaultTextActive");
                  $j(this).val($j(this)[0].title);
              }
          });
          $j(".defaultText").blur();

          //popup cluetips in layerswitcher
          $j(".layerinfolink").cluetip({
            sticky: true,
            closePosition:'title',
            closeText:'X',
            cluezIndex:1100,
            ajaxCache:true,
            cluetipClass:'jtip',
            dropShadow:false,
            activation:'click',
            attribute:'href',
          });
      });
      </script>
      {% endblock scripts %}
