<em>Checkpoint</em>
<ul>
  <li><b>Name:</b> {{checkpoint.name|default_if_none:"Unnamed"}}
  {% if checkpoint.region %}<li><b>Region:</b> {{checkpoint.region}}{%endif%}
  <li><b>Type:</b> {{checkpoint.get_checkpoint_type_display}}
  <li><b>Direction:</b> {{checkpoint.get_direction_display}}
  <li><b>Staffed:</b> {{checkpoint.staffed|default_if_none:"unknown"}}
</ul>
<a href="/checkpoint/{{checkpoint.id}}/" target="_blank">open</a>
<a href="/checkpoint/{{checkpoint.id}}/edit" target="_blank">edit</a>