{%extends "base.html" %}
  {%block title%}: a dynamic map of the occupation{%endblock title%}
  
    {%block css%}
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/reset.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/base.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/sidebar.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}openlayers/theme/default/style.css" type="text/css" />
    <link rel="stylesheet" href="{{MEDIA_URL}}jquery/cluetip/jquery.cluetip.css" type="text/css"/>
          <link href="{{MEDIA_URL}}/jquery/autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/map.css" type="text/css"/>
    {%endblock css%}

    {%block content%}
      <div id="map"></div>
      
      <div id="right_menu">
        <div class="right_menu_item">
          <a class="toggle">Layers</a>
          <div id="layerswitcher"></div>
        </div>
        <div class="right_menu_item">
          <a id="toggle">Search</a>
          <div class="search_fields">
            <input class="defaultText" type="text" id="search_entry" name="q" title="Location Name"/>
            <button type="submit" id="searchButton" title="Go">Go</button><br>
            <a href="/settlement/">List all Settlements</a>
          </div>
        </div>
       <!--> <div class="right_menu_item">
          <a class="toggle">Directions</a>
          <div class="search_fields">
            <input class="defaultText" type="text" id="from" title="From" />
            <input class="defaultText" type="text" id="from" title="To" />
            <button type="submit" id="routingButton" title="Route">Go</button>
          </div>
        </div><-->
        <div class="right_menu_item">
          <a class="toggle" id="share_toggle">Share</a>
          <div class="share_fields">
            <input type="text" id="share_URL" />
            <input type="text" id="share_iFrame" />
          </div>
        </div>
      </div>
      {% endblock content %}
      
      {% block scripts %}
      <script src='http://maps.google.com/maps?file=api&v=2.x&key=ABQIAAAAT9uyY_WHXEyDYZHQMelCKhQWL7Q2d-EKM_00nP7XOCXIQnceqxSp4N1apl4OuUAIAe7OPscnDmbrQA'></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/OpenLayers.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/customLayerSwitcher.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}openlayers/cloudmade.js"></script>
      <!-- put jQuery after OpenLayers, to avoid $ collision -->
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}jquery/cluetip/jquery.cluetip.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}/jquery/autocomplete/jquery.autocomplete.js"></script>
      <!-- finally, create our map -->
      <script type="text/javascript" src="{{MEDIA_URL}}map/styles.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}map/map.js"></script>
      
      
      <script type"text/javascript">
      $j(document).ready(function() {
        {% if lat and lon and zoom %}
          initMapCoords({{lat}},{{lon}},{{zoom}});
        {%else%}
          initMap();
        {%endif%}
        
          searchResult = false; //global to store search result
          searchMarker = new OpenLayers.Layer.Markers("Search Result");
          searchMarker.displayInLayerSwitcher = false;
          map.addLayer(searchMarker);
          
          //hide the loading panels, they get reshown events registered in map.js
          $j(".loading").hide();

          //show and hide the sidebar panels
          $j('a.toggle').click(function() {
              $j(this).next().toggle('fast');
              return false;
            });

            //fill in share fields with map info
            $j('a#share_toggle').click(function() {
              center = map.center.clone();
              center.transform(sphericalMercator,gps);
                $j('#share_iFrame').val('<iframe width="460" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://'+location.host+'/iframe/?lat='+center.lat+'&lng='+center.lon+'&zoom='+map.zoom+'"></iframe>');
                $j('#share_URL').val('http://'+location.host+'/?lat='+center.lat+'&lng='+center.lon+'&zoom='+map.zoom);
                return false;
              });
              
              $j('a#share_toggle').next().hide();
            //hide share by default

            /* JQuery search as you type
            */
                $j("#search_entry").autocomplete("/search/",
                  { cacheLength:1, multiple:false, minchars:1, mustMatch:false,
                    highlight:false,
                    formatItem: function(x) {
                      return x[0];
                    },
                    formatResult: function(x) {
                      if(x[1]) {
                        //real object, with a url field
                        return x[0];
                      } else {
                        //a header, return null character
                        return "\0";
                      }
                    }
                  });
                  $j("#search_entry").result(function(event, data, formatted) {
                    //url info is the second field in the data object
                    if (data[1]) {
                      $j("#search_form").attr('action',data[1]);
                      //stash the url in the form action field
                      $j("#search_entry").attr('name','');
                      searchResult = eval('('+data[2]+')');
                        //third field has the geojson, turn it into an object
                        
                      //highlight on map when you select
                      searchMarker.clearMarkers(); //clear old results
                      var coords = searchResult.geometry.coordinates;
                      var lonlat = new OpenLayers.LonLat(coords[0], coords[1]);
                      searchMarker.addMarker(new OpenLayers.Marker(lonlat));
                    } else {
                      searchResult = false;
                    }
                  }); 
                    
                  $j("#searchButton").click(function(){
                    if(searchResult) {
                      //zoom when you click go
                      var coords = searchResult.geometry.coordinates;
                      var lonlat = new OpenLayers.LonLat(coords[0], coords[1]);
                      map.setCenter(lonlat,13); //TODO: determine zoom level dynamically
                    }
                    return false;
                    //should stop default action
                    //but doesn't work in Safari
                  });
                  
          //search input box focus handler
          $j(".defaultText").focus(function(srcc)
          {
              if ($j(this).val() == $j(this)[0].title)
              {
                  $j(this).removeClass("defaultTextActive");
                  $j(this).val("");
              }
          });
          $j(".defaultText").blur(function()
          {
              if ($j(this).val() == "")
              {
                  $j(this).addClass("defaultTextActive");
                  $j(this).val($j(this)[0].title);
              }
          });
          $j(".defaultText").blur();

          //popup cluetips in layerswitcher
          $j(".layerinfolink").cluetip({
            sticky: true,
            closePosition:'title',
            closeText:'X',
            cluezIndex:1100,
            ajaxCache:true,
            cluetipClass:'jtip',
            dropShadow:false,
            activation:'click',
            attribute:'href',
          });
      });
      </script>
      {% endblock scripts %}
