{%extends "base.html"%}

{%block title%}: {{settlement.name}} {{settlement.get_settlement_type_display}}{%endblock title%}

{%block content %}
    <ul>
      <li><b>Name:</b> {{settlement.name}} {%if settlement.alternate_name%},{{settlement.alternate_name}}{%endif%}
      <li><b>Type:</b> {{settlement.get_settlement_type_display}}
      <li><b>Year Founded:</b> {{settlement.year_founded|default:"unknown"}}
      <li><b>Description:</b>{{settlement.info|linebreaks}}
      <li><b>Legal:</b>{{settlement.legal|linebreaks}}
      <li><b>Population:</b> <div id="populationgraph"></div>
      {% if settlement.area %}<li><b>Area:</b>{{settlement.area}} square km{%endif%}
      <li><b>Region:</b> <a href="{{settlement.region.get_absolute_url}}">{{settlement.region}}</a>
      <li><b>Map:</b> <small>insert static map here</small>
    </ul>
    {%if citations %}
    <b>Sources:</b>
      <ul>
      {%regroup citations by field as citations_grouped %}
      {% for field in citations_grouped %}
        <li>{{field.grouper|capfirst}}: 
        {%for c in field.list %}
            <a href={{c.source.url}}>{{c.source.name}}</a>
        {%endfor%}
      {%endfor%}
      </ul>
    {%endif%}<br>
    <a href="/settlement/{{settlement.id}}/edit">edit</a>
{%endblock content%}
 
    {%block scripts %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}jquery/flot/excanvas.pack.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}jquery/flot/jquery.flot.min.js"></script>
        
    <script id="source" language="javascript" type="text/javascript">
    $j = jQuery.noConflict();
    
    $j(function () {
      var pop = {{settlement.population_chartstring}};
      if (pop) {
        $j("#populationgraph").css({'width':'600px','height':'300px'});
        $j.plot($j("#populationgraph"), [ pop ],
                {xaxis: {minTickSize:1,tickDecimals:0}}
               );
      }
    });
    </script>
    {%endblock scripts%} 
